@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: hsla(240, 1%, 26%, 1);
    }
}

@layer components {

    .text-default {
        color: hsla(240, 1%, 26%, 1);
    }
    .text-light {
        color: hsla(240, 1%, 26%, 0.73);
    }
    .surface {
        @apply bg-white text-default border border-gray-200;
    }
    .surface {
        @apply bg-white text-default border border-gray-200;
    }
    .surface-elevated {
        @apply bg-gray-100 text-default;
    }
    .background {
        @apply bg-gray-100 text-default;
    }
}

